<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Strict//EN' 'http://www.w3.org/TR/html4/strict.dtd'>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link type="text/css" rel="styleSheet"  href="https://at.alicdn.com/t/font_471543_m3j6i3lja0f.css"/>
<link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
<link type="text/css" rel="styleSheet"  href="css/addbank.css"/>
<title>凤凰娱乐</title>
</head>
<body>
	<div id="AddBank">
		<div class="head">
			<div class="icon" @click="back">
				<i class="iconfont el-icon-lxx-40"></i>
			</div>
			<div class="text">
				银行信息
			</div>
		</div>
		<div class="main">
			<mu-select :value="bank" full-width class="list" @change="changebank" solo>
				<mu-option label="选择银行" :value="0"></mu-option>
				<mu-option label="abc" :value="1"></mu-option>
				<mu-option label="dsa" :value="2"></mu-option>
			</mu-select>
			<mu-select :value="province" full-width class="list" @change="changeprovince" solo>
				<mu-option label="所属省份" :value="0"></mu-option>
				<mu-option label="abc" :value="1"></mu-option>
				<mu-option label="dsa" :value="2"></mu-option>
			</mu-select>
			<mu-select :value="city" full-width class="list" @change="changecity" solo>
				<mu-option label="所属城市" :value="0"></mu-option>
				<mu-option label="abc" :value="1"></mu-option>
				<mu-option label="dsa" :value="2"></mu-option>
			</mu-select>
			<input v-model="network" class="inputbox" placeholder="开户网点">
			<input v-model="user" class="inputbox" placeholder="开户账号">
			<div class="footer">
				<div class="tip">开户姓名：{{username}}</div>
				<div class="btn">
					确认
				</div>
			</div>
		</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>
<script src="js/addbank.js"></script>
<script>
</script>
</html>