<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Strict//EN' 'http://www.w3.org/TR/html4/strict.dtd'>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link type="text/css" rel="styleSheet"  href="https://at.alicdn.com/t/font_471543_o906t2xysvi.css"/>
<link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
<link type="text/css" rel="styleSheet"  href="css/Instantnote.css"/>
<title>凤凰娱乐</title>
</head>
<body>
	<div id="Instantnote">
		<div class="head" :style="'background:'+themecolor">
			<div class="icon" @click="back">
				<i class="iconfont el-icon-lxx-40"></i>
			</div>
			<div class="text">
				即时注单
			</div>
		</div>
		<div class="title">
			<div class="text">
				彩种
			</div>
			<div class="text">
				笔数
			</div>
			<div class="text">
				下注金额
			</div>
		</div>
		<div class="main">
			<div class="list" v-for="item,index in list" :key="index">
				<div class="Singular" v-if="index % 2==0" key="Singular">
					<div class="name">
						{{item.name}}
					</div>
					<div class="num">
						<span v-if="item.num==0">{{item.num}}</span>
						<a v-else href="betsnote.html">{{item.num}}</a>
					</div>
					<div class="money">
						{{item.money}}
					</div>
				</div>
				<div class="dual" v-else key="dual">
					<div class="name">
						{{item.name}}
					</div>
					<div class="num">
						<span v-if="item.num==0">{{item.num}}</span>
						<a href="betsnote.html" v-else>{{item.num}}</a>
					</div>
					<div class="money">
						{{item.money}}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>
<script src="js/Instantnote.js"></script>
<script>
</script>
</html>