@CHARSET "UTF-8";
html body{
	margin:0px;
}
#Home .head{
	background:rgba(2,0,1,.5);
	height:55px;
	line-height: 55px;
}
#Home .head .thumb{
	padding:5px;
	display: inline-block;
}
#Home .head .right{
	float:right;
	position: relative;
	right:5px;
	color:#fff;
	display: inline-block;
	font-size:1.1rem;
	font-weight: 600;
}
#Home .head .right .userbtn{
	display: inline-block;
	padding-right: 10px;
	text-decoration:underline;
}
#Home .swiper .myswiper{
	font-size:0px;
}
#Home .swiper .myswiper .swiper-pagination{
	text-align:right;
}
#Home .swiper .myswiper .swiper-pagination .swiper-pagination-bullet{
	background:#fff;
	width:12px;
	height:12px;
	opacity: 0.8;
}
#Home .swiper .myswiper .swiper-pagination .swiper-pagination-bullet-active{
	background: #fff000;
	opacity: 1;
}
#Home .swiper .marquee{
	font-size:0px;
	background: #f5f7f8;
	color: #4d555f;
	border-bottom: 1px solid #e6eaed;
	height:35px;
	line-height: 35px;
}
#Home .swiper .marquee .icon{
	vertical-align: top;
	text-align:center;
	display: inline-block;
	width: 10%;
}
#Home .swiper .marquee .icon i{
	font-size:1.4rem;
}
#Home .swiper .marquee .content{
	font-size:0.6rem;
	display: inline-block;
	width:90%;
}
#Home .game .horizontal{
	font-size:0px;
}
#Home .game .horizontal .roller{
	width:90%;
	height:40px;
	line-height: 40px;
	overflow-x:scroll;
	overflow-y: hidden;
	display: inline-block;
	white-space:nowrap;
	font-size:1rem;
	text-align: center;
}
#Home .game .horizontal .roller .activetab{
	color:#f26971;
}
#Home .game .horizontal .icon{
	text-align:center;
	width:10%;
	height:40px;
	line-height: 40px;
	display: inline-block;
	vertical-align: top;
}
#Home .game .gamelist .list{
	display: inline-block;
	width:33.3333%;
	font-size:0.88rem;
	text-align:center;
	padding: 7px 10px 6px;
	border:1px solid #e6eaed;
	box-sizing: border-box;
}
#Home .game .gamelist .list .icon img{
	height:3rem;
}
#Home .game .gamelist .list .name{
	font-weight: 700;
	color:#666;
	margin-bottom: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#Home .tips{
	position: absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	text-align:center;
	color:#fff;
	font-size:0.9375rem;
}
#Home .tips .text{
	padding:20px;
	background: rgba(0,0,0,.7);
	border-radius: 6px;
	display: inline-block;
	vertical-align: baseline;
	margin-top:80%;
	text-overflow: ellipsis;
}
#Home .footerbar{
	padding: 0;
	background: #fff;
	border-top: 1px solid #d3d7da;
	height: 55px;
	position: absolute;
	display: block;
	bottom: 0;
	font-size:0px;
	width:100%;
	text-align: center;
	text-decoration: none;
}
#Home .footerbar .tabs{
	display: inline-block;
	font-size:14px;
	width:20%;
	color:#000;
	line-height: 25px;
	padding-top: 5px;
}
#Home .footerbar .tabs a{
	text-decoration: none;
}
#Home .footerbar .tabs img{
	width:30px;
	display: block;
	margin: 0 auto;
}
#Home .footerbar .tabs span{
	opacity:.6;
	color:#000;
}